body {
    font-family: Arial;
    font-size:16px;
    line-height: 1.5
}

div.cursor {
  position: absolute;
  top: 50%;
  left:50%;
  width:10px;
  height: 10px;
  transform: translate(-50%,-50%);
  background-color: pink;
  border-radius: 50%;
  transition: width 0.25s,height 0.25s

}

div.cursor.is-down {
    position: absolute;
    top: 50%;
    left:50%;
    width:80px;
    height: 80px;
    transform: translate(-50%,-50%);
    background-color: pink;
    width: 80px;
    height:80px;
    border-radius: 50%;
}